body{
    font-family: 'Poppins', sans-serif;
}

#box {
    margin: auto;
    padding: 10px 10px;
}

.container1{
    width: 80%;
    margin: auto;
    border-radius: 79px;
    background: #f3e853;
    box-shadow:  50px 50px 92px #948e33, 
                 -50px -50px 92px #ffff73;
    margin-top: 2rem;
}
#header{
    color: rgba(1, 2, 0, 0.842);
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    text-align: center;
}
#closing{
    padding-top: 10px;
    padding-left: 1rem;
    color:black;
    font-family: Verdana,Tahoma, sans-serif;
    font-weight: bolder;
}
#cbalance{
    color:black;
    font-weight: 500;
    padding-left: 1.5rem;
    font-family: 'Poppins', sans-serif;
}
.income{
    margin: auto;
    margin-top: 10px;
    text-align: center;
    width: 50%;
    background-color:rgb(0, 128 , 0 , 0.7) ;
    padding-top:5px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    border-radius: 1rem;
    text-transform: uppercase;
}
.expense{
    margin: auto;
    margin-top: 10px;
    width: 50%;
    background-color:rgb(128,0,128,0.7);
    text-align: center;
    padding-top:5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: white;
    border-radius: 1rem;
    text-transform: uppercase;
}
input[type="text"]{
    width: 100%;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid rgb(255, 81, 81);
    margin-bottom: 10px;
    font-size: 17px;
}
input[type="number"]{
    background-color: rgb(128,0,0,0.5);
    border: none;
}
input[type="number"]:focus{
    background-color: rgba(136, 53, 53, 0.4);
    color: white;
    box-shadow: none;
    outline: none;

}
.form{
    margin-top: 80px;
}
::placeholder{
    font-size: 18px;
    color: black;
}
.sideicon{
    background-color: rgb(0,0,0,0.7);
    padding: .5rem;
    border-radius: 3px;
    color: white;
}
#form-label{
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: black;
    font-size: 20px;
}
.btn-div{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.button{
    border: none;
    background: #0bec4394;
    color: #000000 !important;
    font-weight:bolder;
    padding: 15px 15px;
    text-transform: uppercase;
    border-radius: 6px;
    transition: all 0.3s ease 0s;
    text-align: center;
    margin-bottom: 10px;
}

.button:hover{
    color: #404040 !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    background: #fad390;
    box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.685);
    box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.3s ease 0s;
}
.button:focus{
    outline: none;
}
#transaction_record{
    width: 53%;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    letter-spacing: 2px;
   
}
.tran_his{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    border-radius: 5px;
    padding: 10px;
    text-transform: uppercase;
}
#history{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 79px;
    background: #8b841d;
    box-shadow:  50px 50px 92px #948e33, 
                 -50px -50px 92px #fcfc0b;
    font-size: 25px;
    padding: 5px;
}
#remover{
    color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
}